/* COMMONS ROULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* UTILITY */


/* MAIN */

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 1px solid black;
    width: 1000px;
    height: 300px;
    display: flex;
}

.container_sx {
    width: 700px;
    position: relative;
}

.container_sx>img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.thumbnails {
    width: 300px;
    height: 298px;
    overflow-y: scroll;
    position: relative;
}

.prev {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.next {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.bg {
    background-color: rgba(255, 255, 255, 0.77);
}

.thumb {
    height: 70px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.active {
    border: 5px solid rgb(0, 24, 53);
}

.text_img {
    position: absolute;
    bottom: 30px;
    right: 10px;
    width: 35%;
    color: #ffffffbf;
}